version: '3'

services:
  db:
    image: mongo
    restart: unless-stopped
    volumes:
      - './data:/data/db'
    expose:
      - "27017"
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - PORT=3000       
      - MONGO_DB=adf-cd-db
      - MONGO_HOST=db
      - MONGO_PORT=27017
    port:
      - "3000:3000"
    links:
      - db
  client:
    build:
      context: ./cd-client
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8080:80"
    links:
      - server
