version: '3'

services:
  db:
    image: mongo
    restart: unless-stopped
    volumes:
      - './data:/data/db'
    ports:
      - "27018:27018"
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
      - "3000:3000"
    links:
      - db
