@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yellow: #c9a900;
    --steel: #374754;
    --blue: #7686a0;
    --grey: #5d5b70;
    --cream: #c7c0c8;
    --white: #e1e1e1;
    --black: #000000;


    --base-font: 18px;
    --primary: var(--yellow);
    --secondary: var(--steel);

    --padding: 0.5rem;

    --header-height: 3.8rem;
  }

  #adf-cd *,
  #adf-cd *:after,
  #adf-cd *:before  {
    box-sizing: border-box;
  }

  #adf-cd a {
    text-decoration: none;
    color: var(--steel);
  }

  #adf-cd input[type=text] {
    display: inline-block;
    width: 100%;
    padding: .4em .5em;
    border: solid 2px var(--cream);
    border-radius: 2px;
    background-color: white;
    color: var(--steel);
    font: inherit;
  }
  #adf-cd input:focus {
    outline-color: var(--primary);
  }

  .adf-cd {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: var(--white);
    max-width: 860px;
    margin: auto;
  }
  #adf-cd {
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: var(--base-font);
  }

  #adf-cd h1,
  #adf-cd h2 {
    font-family: sans-serif;
    border-bottom: none;
    margin: 0;
    padding: 0 !important;
  }

  #adf-cd h1 {
    font-size: var(--base-font);
  }

  #adf-cd p {
    margin: 0;
  }

  #adf-cd button {
    background: none;
    border: none;
    font: inherit;
  }
  #adf-cd ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@layer components {
  #adf-cd .header {
    display: flex;
    align-items: center;
    min-height: var(--header-height);
    width: 100%;
    border: none;
    background-color: var(--secondary);
    padding: var(--padding);
    color: var(--white);
    font-weight: 600;
  }

  #adf-cd .groupstart {
    padding: 5em 1em;
    text-align: center;
  }

  #adf-cd .title {
    font-weight: 600;
    font-size: 2em;
    color: var(--steel);
  }

  #adf-cd .small-title {
    font-weight: 600;
    font-size: 1.2em;
    color: var(--blue);
  }

  #adf-cd .adf-btn {
    display: inline-block;
    padding: .5em 1em;
    border-radius: 2px;
    font-weight: 600;
    //border: 2px solid currentColor;
    //transition: border-color 200ms ease;
  }

  #adf-cd .adf-btn--blue {
    background-color: var(--blue);
    color: var(--white);
  }
  #adf-cd .adf-btn--cream {
    background-color: var(--cream);
    color: var(--steel);
  }
  #adf-cd .adf-btn--primary {
    background-color: var(--primary);
    color: var(--white);
  }

  #adf-cd .adf-btn--round {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 0.6em 0.7em 0.4em 0.3em;
    transform: rotate(45deg);
  }

  #adf-cd .chat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--cream);
  }
  #adf-cd .chat-item:hover .visible-on-hover,
  #adf-cd .chat-item:active .visible-on-hover {
    display: block;
  }
  #adf-cd .chat-header {
    display: flex;
    align-items: center;
  }
  #adf-cd .chat-contact {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  #adf-cd .profile-pic {
    background-color: var(--cream);
    width: 2.4em;
    height: 2.4em;
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }

  #thischatwindow {
    background-color: var(--white);
  }

  #adf-cd .bubble {
    position: relative;
    display: inline-block;
    max-width: 80%;
    padding: 6px 7px 4px 9px !important;
    border-radius: 7px;
    z-index: 2;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13)
  }
  #adf-cd .bubble:after {
    content: "";
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    position: absolute;
    top: 0.8em;
    transform: rotate(45deg);
    z-index: 1;
  }
  #adf-cd .msg-content {
    word-break: break-all;
    text-align: left;
  }
  #adf-cd .left {
    text-align: left;
  }
  #adf-cd .left .date {
    color: var(--steel);
  }
  #adf-cd .left .bubble {
    margin-left: 0.4em;
    color: var(--steel);
    background-color: var(--cream);
  }
  #adf-cd .left .bubble:after {
    left: -0.3em;
    background-color: var(--cream);
  }
  #adf-cd .right {
    text-align: right;
  }
  #adf-cd .right .date {
    color: var(--white);
  }
  #adf-cd .right .bubble {
    margin-right: 0.4em;
    color: var(--white);
    background-color: var(--blue)
  }
  #adf-cd .right .bubble:after {
    right: -0.3em;
    background-color: var(--blue)
  }

  #adf-cd .composer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5em;
    background-color: var(--white);
  }
  #adf-cd .composer--message {
    display: flex;
    border-radius: 2em;
    background-color: white;
    //overflow: hidden;
    padding-left: 0.6em;
    padding-right: 1.6em;
  }

  #adf-cd .composer--message input {
    border: none;
    padding: 0.7em 0.5em;
  }
  #adf-cd .composer--compose {
    flex-grow: 1;
  }
  #adf-cd .composer--send .adf-btn--round {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #adf-cd .isLeft {
    color: var(--white);
    background-color: var(--blue);
  }
  #adf-cd .isRight {
    color: var(--steel);
    background-color: var(--cream);
  }
  #adf-cd .msg-list {
    min-height: 30em;
  }


  #adf-cd .settings-plane {
    background-color: var(--steel);
    height: 100%;
    width: 20rem;
    position: absolute;
    top: var(--header-height);
    right: 0;
    z-index: 4;
    padding: var(--padding);
    transition: transform 120ms ease-in-out;
    transform: translateX(21rem);
  }

  #adf-cd .settings-plane.is-open {
    transform: translateX(0);
  }
  #adf-cd .settings-plane a {
    color: var(--white);
  }

  #adf-cd .people-choice-plane {
    position: absolute;
    bottom: var(--header-height);
    right: 0;
    width: 10em;
    z-index: 3;
    padding: var(--padding);
    background-color: var(--white);
    transition: transform 120ms ease-in-out;
    transform: translateX(21rem);
    cursor: pointer;
  }

  #adf-cd .people-choice-plane.is-open {
    transform: translateX(0)
  }


  #adf-cd .people-choice-item {
    margin-bottom: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@layer utilities {
  #adf-cd .mt-1 {
    margin-top: 1rem;
  }
  #adf-cd .my-05 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  #adf-cd .mb-3 {
    margin-bottom: 3em;
  }
  #adf-cd .mb-1 {
    margin-bottom: 1em;
  }
  #adf-cd .mr-1 {
    margin-right: 1em;
  }

  #adf-cd .p-2 {
    padding: calc(var(--padding) * 2);
  }

  #adf-cd .p-3 {
    padding: calc(var(--padding) * 3);
  }

  #adf-cd .ps-1 {
    padding-left: var(--padding);
  }
  #adf-cd .px-1 {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
  #adf-cd .py-1 {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }

  #adf-cd .bg--cream {
    background-color: var(--cream);
    color: var(--secondary);
  }

  #adf-cd .small {
    font-size: 0.75em;
  }

  #adf-cd .date {
    color: var(--grey);
    //color: currentColor;
    font-weight: 400;
    opacity: 0.8;
  }

  #adf-cd .fw-bold {
    font-weight: 600;
  }
  #adf-cd .fw-normal {
    font-weight: 400;
  }

  #adf-cd .arrow {
    width: 1.2em;
    height: 1.2em;
  }
  #adf-cd .arrow-right {
    transform: rotate(90deg)
  }
  #adf-cd .arrow-left {
    transform: rotate(-45deg)
  }
  #adf-cd .arrow.primary {
    fill: var(--steel)
  }
  #adf-cd .arrow.white {
    fill: var(--white)
  }
  #adf-cd .visible-on-hover {
    display: none;
  }

  #adf-cd .icon {
    width: 1.2em;
    height: 1.6em;
    display: block;
    text-indent: 999em;
    overflow: hidden;
    background-image: url(/file-image-regular.svg);
    background-repeat: no-repeat;
  }
  #adf-cd .a11y-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  #adf-cd .d-flex {
    display: flex;
  }
  #adf-cd .d-inline {
    display: inline-block;
    vertical-align: middle;
  }

}
