@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yellow: #c9a900;
    --steel: #374754;
    --blue: #7686a0;
    --grey: #5d5b70;
    --cream: #c7c0c8;
    --white: #e1e1e1;
    --black: #000000;

    --primary: var(--yellow);
    --secondary: var(--steel);

    --padding: 0.5rem;
  }


  a {
    color: var(--steel);
  }

  input[type=text] {
    display: inline-block;
    width: 100%;
    padding: .4rem .5rem;
    border: solid 2px var(--cream);
    border-radius: 2px;
    color: var(--steel);
  }
  input:focus {
    outline-color: var(--primary);
  }

  .adf-cd {
    height: 100vh;
    background-color: var(--white);
    max-width: 860px;
    margin: auto;
  }
  #app {
    overflow-x: hidden;
  }
}

@layer components {
  .header {
    display: flex;
    align-items: center;
    min-height: 3.5rem;
    width: 100%;
    border: none;
    background-color: var(--secondary);
    padding: var(--padding);
    color: var(--white);
    font-weight: 600;
  }

  .groupstart {
    padding: 5rem 1rem;
    text-align: center;
  }

  .title {
    font-weight: 600;
    font-size: 2rem;
    color: var(--steel);
  }

  .small-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--blue);
  }

  .btn {
    display: inline-block;
    padding: .5em 1em;
    border-radius: 2px;
    font-weight: 600;
    //border: 2px solid currentColor;
    //transition: border-color 200ms ease;
  }

  .btn--blue {
    background-color: var(--blue);
    color: var(--white);
  }
  .btn--cream {
    background-color: var(--cream);
    color: var(--steel);
  }
  .btn--primary {
    background-color: var(--primary);
    color: var(--white);
  }
  .btn--primary:hover,
  .btn--primary:active {
    //border-color: var(--primary);
  }

  .btn--round {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.6em 0.7em 0.4em 0.3em;
    transform: rotate(45deg);
  }

  .chat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--cream);
  }
  .chat-item:hover .visible-on-hover,
  .chat-item:active .visible-on-hover {
    display: block;
  }
  .chat-header {
    display: flex;
    align-items: center;
  }
  .chat-contact {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  .profile-pic {
    background-color: var(--cream);
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }

  #thischatwindow {
    background-color: var(--white);
  }

  .bubble {
    position: relative;
    display: inline-block;
    max-width: 80%;
    padding: 6px 7px 4px 9px !important;
    border-radius: 7px;
    z-index: 2;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13)
  }
  .bubble:after {
    content: "";
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    top: 0.8rem;
    transform: rotate(45deg);
    z-index: 1;
  }
  .msg-content {
    word-break: break-all;
    text-align: left;
  }
  .left {
    text-align: left;
  }
  .left .date {
    color: var(--steel);
  }
  .left .bubble {
    margin-left: 0.4rem;
    color: var(--steel);
    background-color: var(--cream);
  }
  .left .bubble:after {
    left: -0.3rem;
    background-color: var(--cream);
  }
  .right {
    text-align: right;
  }
  .right .date {
    color: var(--white);
  }
  .right .bubble {
    margin-right: 0.4rem;
    color: var(--white);
    background-color: var(--blue)
  }
  .right .bubble:after {
    right: -0.3rem;
    background-color: var(--blue)
  }

  .composer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    background-color: var(--white);
  }
  .composer--message input {
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 1.4rem;
  }
  .composer--compose {
    flex-grow: 1;
  }
  .composer--send .btn--round {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .composer--radio {
    margin-bottom: 0.5rem;
  }
  .composer--radio label {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    //background-color: var(--primary);
    border-radius: 1rem;
  }

  .checked, .unchecked {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: sub;
    margin-right: 0.35rem;
  }
  .composer--radio input[type=radio] ~ .checked {
    display: none;
  }
  .composer--radio input[type=radio] ~ .unchecked {
    display: inline-block;
  }
  .composer--radio input[type=radio]:checked ~ .checked {
    display: inline-block;
  }
  .composer--radio input[type=radio]:checked ~ .unchecked {
    display: none;
  }
  .isLeft {
    color: var(--white);
    background-color: var(--blue);
  }
  .isRight {
    color: var(--steel);
    background-color: var(--cream);
  }
}

@layer utilities {
  .mt-1 {
    margin-top: 1rem;
  }
  .my-05 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .mb-3 {
    margin-bottom: 3rem;
  }

  .p-2 {
    padding: calc(var(--padding) * 2);
  }

  .p-3 {
    padding: calc(var(--padding) * 3);
  }

  .ps-1 {
    padding-left: var(--padding);
  }
  .px-1 {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
  .py-1 {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }

  .bg--cream {
    background-color: var(--cream);
    color: var(--secondary);
  }

  .small {
    font-size: 0.75rem;
  }

  .date {
    color: var(--grey);
    //color: currentColor;
    font-weight: 400;
    opacity: 0.8;
  }

  .fw-bold {
    font-weight: 600;
  }
  .fw-normal {
    font-weight: 400;
  }

  .arrow {
    width: 1.2rem;
    height: 1.2rem;
  }
  .arrow-right {
    transform: rotate(90deg)
  }
  .arrow-left {
    transform: rotate(-45deg)
  }
  .arrow.primary {
    fill: var(--steel)
  }
  .arrow.white {
    fill: var(--white)
  }
  .visible-on-hover {
    display: none;
  }


  .icon {
    width: 1.2rem;
    height: 1.6rem;
    display: block;
    text-indent: 999rem;
    overflow: hidden;
    background-image: url(/file-image-regular.svg);
    background-repeat: no-repeat;
  }
  .a11y-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
